/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.error {
  border: 1px solid red;
  border-radius: 8px 4px;
  color: red;
  background-color: #efefef;
  padding: 8px 4px;
  margin: 8px;
}

.card {
  font-size: 20vw;
  display: inline-block;
}

.card.selected {
  position: relative;
  top: -20px;
}

.card.diamonds,
.card.hearts {
  color: red;
}

.card.joker,
.card.spades,
.card.clubs {
  color: black;
}

.scores {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cards-in-play {
  box-sizing: border-box;
  margin: 20px auto;
  position: relative;

  width: 50vw;
  height: 50vw;
}

.cards-in-play.PlayerOne {
  transform: rotate(180deg);
}

.cards-in-play.PlayerTwo {
  transform: rotate(90deg);
}

.cards-in-play.PlayerThree {
  /* transform: rotate(90deg); */
}

.cards-in-play.PlayerFour {
  transform: rotate(-90deg);
}

.cards-in-play > div:first-child {
  transform: rotate(180deg);
}
.cards-in-play > div:nth-child(2) {
  transform: rotate(-90deg);
  justify-self: start;
  position: absolute;
  right: 0px;
  top: 25%;
}
.cards-in-play > div:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
}
.cards-in-play > div:nth-child(4) {
  transform: rotate(90deg);
  position: absolute;
  left: 0px;
  top: 25%;
}

.winning-player {
  font-weight: bold;
  font-size: 2em;
}

.modal {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-backdrop {
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  z-index: 0;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.modal-inner {
  position: relative;
  box-sizing: border-box;
}

.modal-close {
  position: absolute;
  top: 4px;
  left: 10px;
}

button.reset {
  font-size: 100%;
  font-family: inherit;
  border: 0px;
  padding: 0px;
  background: inherit;
}

.modal-contents {
  width: 100%;
  height: 100%;
}

.card-ranks-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: #fcfcfc;
  padding: 20px;
  border: 1px solid black;
  border-radius: 4px;
}
